<header class="masthead" style="background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3>Browse All <%= @posts.all.count %> Posts</h3>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <% @posts.each do |post| %>
          <div class="post-preview">
            <h2 class="post-title text-justify"><%= link_to post.title, post, :class=>"no-underline green" %></h2>
            <h4 class="post-subtitle text-justify"><%= link_to post.subtitle, post %></h4>
            <p class="post-meta text-justify"><%= post.created_at.strftime("%B, %d, %Y")%></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
</div>

<%= render 'shared/footer' %>

