<header class="masthead" style="background-image: url(<%= @post.cover_image_link%>)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1><%= @post.title %></h1>
            <span class="subheading"><%= @post.subtitle %></span>
            <p>Submitted <%= time_ago_in_words(@post.created_at)%> ago</p>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container" style="margin-top: -15vh">
  <div class="row">
    <div class="col-lg-12 col-md-12 mx-auto">
      <div class="card px-2 py-2 mb-3">
        <div class="card-body">
          <p class="lead text-justify"><%= @post.description %></p>
          <%= link_to 'Back', root_path, :class=>"btn btn-primary" %>
          <% if author_signed_in? %>
            <%= link_to "Edit", edit_post_path, :class=>"btn btn-warning" %>
            <%= link_to "Delete", post_path, method: :delete, data:{confirm: 'Are you sure?'}, :class=>"btn btn-danger" %>
            <%= link_to "New", new_post_path, :class=>"btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
